@font-face {
  font-family: 'OpenSans';
  src: url('/public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('/public/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf');
}

:root {
  --primary-light: #ff7f23;
  --primary-dark: #994c15;
  --secondary-grey: #393838;
  --bg-grey-dark: #232323;
  --bg-grey-light: #303030;
  --black: #000000;
  --white: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--white);
}

#root {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #303030, #232323);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: OpenSans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  padding: 0 10rem;
}

.skill-icon {
  height: 64px;
}

.skills-boxes {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: column;
  width: 100%;
  justify-content: space-between;
}

.skills-container {
  aspect-ratio: 1 / 1;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  max-width: 180px;
  border: 5px solid;
  border-image: linear-gradient(180deg, var(--primary-light), var(--primary-dark)) 1;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h1 span {
  color: var(--primary-light);
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin: 0;
}

.text-wrapper {
  font-size: 1.25rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 0.5rem;
}

li {
  display: inline;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-elements {
  display: flex;
  gap: 3rem;
}

.navbar-link {
  color: var(--white);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar-link:hover {
  color: var(--primary-light);
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 3rem;
}

.hamburger,
.nav-close {
  display: none; /* Hide hamburger icon on larger screens */
}

.about-me {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  padding-top: 3rem;
  flex: 1;
}

.about-me-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-text {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  color: var(--white);
}

.about-me-foto {
  display: flex;
  flex-basis: 100%;
  justify-content: right;
}

.foto-wrapper {
  align-self: center;
}

.foto-wrapper img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  flex: 1;
}

.projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-list {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  gap: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
  flex: 1;
}

.contact-form {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  width: 100%;
  height: 10rem;
  background-color: var(--bg-grey);
  margin-top: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-buttons {
  display: flex;
  gap: 3rem;
}

.navbar img {
  cursor: pointer;
}

.project-item {
  cursor: pointer;
}

.project-image img {
  border-radius: 8px;
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.contact-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 12px;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 16px;
}

.picture-of-the-day {
  width: 100%;
  height: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger,
  .nav-close {
    cursor: pointer;
    color: var(--primary-light);
  }

  .menu {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    height: 100%;
    padding: 6rem 3rem 0;
    position: fixed;
    right: -100%;
    top: 110px;
    transition: right 0.4s;
    width: 40%;
  }

  .menu.open {
    right: 0;
  }

  .navbar-elements {
    display: flex;
    flex-direction: column;
  }

  .navbar-link {
    margin-right: unset;
    margin-top: 22px;
  }
}
