.projectItem {
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr 2fr;
}

.projectImage img{
  border-radius: 8px;
  width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

ul {
  list-style: none;
}

.skillsContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.skillsBars {
  margin: 0 0 30px 0;
  padding: 0;
  width: calc(100% - 50px);
}

li {
  display: block;
  position: relative;
  background-color: #888;
  color: #fff;
  margin: 10px 0;
  transition: width 400ms ease-in-out;
  .collapsed & {
    width: 0 !important;
  }
}

p {
  padding: 10px;
  margin: 0;
  font-weight: bold;
}

span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px;
}


