.projectItem {
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr 2fr;
}

.projectImage img{
  border-radius: 8px;
  width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

ul {
  list-style: none;
}

.skillsContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.skillsBars {
  margin: 0 0 30px 0;
  padding: 0;
  width: calc(100% - 50px);
}

li {
  display: block;
  position: relative;
  background-color: #888;
  color: #fff;
  margin: 10px 0;
  transition: width 400ms ease-in-out;
  .collapsed & {
    width: 0 !important;
  }
}

span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px;
}

.contactFormContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}

.successMessage {
  color: green;
  font-weight: bold;
  margin-bottom: 16px;
}



